/*creating a variable*/
/*:root{
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184,100%,22%);
    --very-dark-cyan:hsl(179,100%,13%);
}
*{
    margin:0;
    padding: 0;
}*/
body{
    font-family: "Lexand Deca",sans-serif;
}
h3{
    font-family: "Big Shoulders Display",sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
}
.btn{
    font-family:"Lexand Deca",sans-serif; 
}
.para{
    font-size: 15px;
    margin-bottom: 65px;
    line-height: 1.4;
}
.col-1{
    padding: 50px;
}
.grid-item{
    padding: 20px;
}
body{
    overflow: hidden;
}
.image{
    margin-bottom: 25px;
}
.secondcls1{
    background-color:hsl(31, 77%, 52%); 
    color: white;
    border-radius: 10px 0 0 10px;
}
.secondcls2{
    background-color:hsl(184,100%,22%); 
    color: white;
}
.secondcls3{
    background-color:hsl(179,100%,13%); 
    color: white;
    border-radius: 0px 10px 10px 0;
}
/*.bright-orange{
background-color:var(--bright-orange);
color: white;
border-radius: 10px 0 0 10px;
}

.dark-cyan{
    background-color: var(--dark-cyan);
    color: white;
}
.very-dark-cyan{
    background-color: var(--very-dark-cyan);
    color: white;
    border-radius:0 10px 10px 0;
}*/
.btn{
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
/*using media query*/
@media(min-width:1000px)
{
    .grid-item{
    display: flex;
     align-items: center;
    justify-content: center;
    height: 40%; 
    width: 800px;
    margin: auto;
    flex-direction: row;
    margin-top: 7%;
   }
}


/*to change the color of the text inside button*/
/*.bright-orange.btn{
    color: var(--very-dark-cyan);
}
.very-dark-cyan.btn{
    color: var(--very-dark-cyan);
}
.dark-cyan.btn{
    color: var(--dark-cyan);
}*/